<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经历</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">
                    <div class="company">搜狗 · 复合搜索研发部 · 北京</div>
                </h3>
                <div class="time">开发工程师&nbsp;&nbsp;&nbsp;&nbsp;2015.08 至今</div>
            </div>
            <div class="company"></div>
        </div>
        <div class="details">
            <p>1. 开发搜狗搜索网页结构化结果以及维护其他网页搜索产品的迭代更新，保证搜狗搜索网页端的基础展现品质和相关的数据统计支持。</p>
            <p>2. 独立完成搜狗知识搜索无线端一期的前端搭建，基于网页搜索前端代码整理出公用模块和相关文档，为后续快速搭建一个垂直搜索提供通用参考。</p>
            <p>3. 独立负责搜狗微信搜索前端工作，对接前端相关的所有业务需求，保证搜狗微信搜索按照合作方的协议提供正常稳定的服务和技术升级。</p>
            <p>4. 负责搜狗翻译前端项目的日常需求开发，编写相关组件和模块，维护代码质量和规范，解决性能优化和持续集成。</p>
            <p>5. 开发和维护搜狗翻译的微信小程序，负责该产品的快速迭代需求。</p>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">
                    <div class="company">百度 · 运营产品研发部 · 北京</div>
                </h3>
                <div class="time">Java 开发实习&nbsp;&nbsp;&nbsp;&nbsp;2014.07 - 2015.04</div>
            </div>
            <div class="company"></div>
        </div>
        <div class="details">
            <p>1. 按省份抓取全国企业信用信息公示系统里的工商数据并入库存储。</p>
            <p>2. 对销售部门提供的不完整的 Excel 文件进行读取、解析、匹配和补充其完整的工商信息。</p>
        </div>
    </div>
    
</section>