<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>项目经历</h2>
    
    <div class="item">
        <span class="project-title">
            <a href="https://www.sogou.com/" target="_blank">搜狗网页搜索</a>
            <span style="float: right">2015.08 - 2016.05</span>
        </span>
        <span class="project-tagline">
            <p></p>
            <p>1. 基于搜索后端返回的 XML，通过 XPath 编写 XSL 将其转化为结构化结果的 HTML。开发和维护结构化结果四十余种。</p>
            <p>2. 借助 jQuery + Juicer.js 实现用户中心、登录注册、明星卡片、明星榜单等二级单页应用。</p>
            <p>3. 依赖 sessionStorage 解决了 ajax 页后退保持的需求难点。</p>
        </span>
    </div>
    
    <div class="item">
        <span class="project-title">
            <a href="https://zhishi.sogou.com/" target="_blank">搜狗知识搜索</a>
            <span style="float: right">2016.06 - 2016.08</span>
        </span>
        <span class="project-tagline">
            <p></p>
            <p>1. 独立完成搜狗知识搜索无线端一期的前端搭建。</p>
            <p>2. 基于网页搜索前端代码整理出公用模块和相关文档，为后续快速搭建一个垂直搜索提供通用支持。</p>
            <p>3. 解决了在搜索结果中呈现原站图片、链接、段落等格式化文本和内容分量显示以及页面定位的需求难点。</p>
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="https://weixin.sogou.com/" target="_blank">搜狗微信搜索</a>
            <span style="float: right">2016.09 - 2017.07</span>
        </span>
        <span class="project-tagline">
            <p></p>
            <p>1. 独立负责搜狗微信搜索前端工作，对接前端相关的所有日常业务需求，针对 PC、WAP 和 iPad 3 端进行了页面改版。</p>
            <p>2. 编写了 datepicker 的组件，通过异步加密获取实现了文章阅读数等敏感信息的反抓取功能。</p>
            <p>3. 根据合作方协议针对微信链接进行两次加密升级，并配套支持了产品、运营、测试、评测、日志解析等其他模块的解密服务。</p>
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="https://fanyi.sogou.com/" target="_blank">搜狗翻译搜索</a>
            <span style="float: right">2017.08 至今</span>
        </span>
        <span class="project-tagline">
            <p></p>
            <p>1. 负责搜狗翻译前端项目的日常需求开发，使用 jQuery & EJS/Vue.js + ES6 + CommonJS 编写功能组件和模块。</p>
            <p>2. 使用 Yarn + webpack 进行包管理和资源构建，使用 GitLab CI/CD 进行持续集成和持续部署。</p>
            <p>3. 使用 VS Code + Git 进行项目开发和代码管理，借助 ESLint + Prettier 维护代码质量和规范。</p>
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="javascript:;" target="_blank">搜狗翻译小程序</a>
            <span style="float: right">2018.03 至今</span>
        </span>
        <span class="project-tagline">
            <p></p>
            <p>1. 开发和维护搜狗翻译的微信小程序，负责该产品的快速迭代需求。</p>
            <p>2. 实现了语种选择、文本高亮、双人对话等交互逻辑较为复杂的需求难点。</p>
        </span>
    </div>
    
</section>