<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>项目经历</h2>
    <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div>
    
    <div class="item">
        <span class="project-title">
            <a href="#" target="_blank">Tempo</a>
        </span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
    </div>
    
</section>