<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>项目经历</h2>
    
    <div class="item">
        <span class="project-title">
            <a href="https://www.sogou.com/" target="_blank">搜狗网页搜索</a>
        </span>
        <span class="project-tagline">
            <p>项目描述：</p>
            <p>项目周期：</p>
            <p>主要技术：1. 基于搜索服务器端返回的 xml，使用 xslt 将其转化为 html。</p>
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="http://weixin.sogou.com/" target="_blank">搜狗微信搜索</a>
        </span>
        <span class="project-tagline">
            <p>项目描述：</p>
            <p>项目周期：</p>
            <p>主要技术：1. 基于搜索服务器端返回的 xml，使用 xslt 将其转化为 html。</p>
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="https://fanyi.sogou.com/" target="_blank">搜狗翻译搜索</a>
        </span>
        <span class="project-tagline">
            <p>项目描述：</p>
            <p>项目周期：</p>
            <p>主要技术：1. 基于搜索服务器端返回的 xml，使用 xslt 将其转化为 html。</p>
        </span>
    </div>

    <div class="item">
        <span class="project-title">
            <a href="javascript:;" target="_blank">搜狗翻译小程序</a>
        </span>
        <span class="project-tagline">
            <p>项目描述：</p>
            <p>项目周期：</p>
            <p>主要技术：1. 基于搜索服务器端返回的 xml，使用 xslt 将其转化为 html。</p>
        </span>
    </div>
    
</section>