<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
        <h1 class="name">{% if site.name %}{{site.name}}{% endif %}</h1>
        <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% endif %}</h3>
    </div>
    
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">

            {% if site.birthday %}
                <li class="birthday"><i class="fa fa-calendar"></i>{{site.birthday}}</li>
            {% endif %}
            
            {% if site.phone %}
                <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
            {% endif %}

            {% if site.wechat %}
                <li class="wechat"><i class="fa fa-wechat"></i><a href="weixin://">{{site.wechat}}</a></li>
            {% endif %}
            
            {% if site.email %}
                <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
            {% endif %}

            {% if site.website %}
                <li class="website"><i class="fa fa-globe"></i><a href="https://{{site.website}}" target="_blank">{{site.website}}</a></li>
            {% endif %}
            
            {% if site.github %}
                <li class="github"><i class="fa fa-github"></i><a href="https://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
            {% endif %}
            
            {% if site.pdf %}
                <li class="pdf"><i class="fa fa-file-pdf-o"></i><a href="{{site.baseurl}}/assets/pdf/{{ site.pdf }}" target="_blank">下载 PDF 版简历</a></li>
            {% endif %}
            
        </ul>
    </div>
    {% include education.html %}
    {% include skills.html %}
    {% include award.html %}
    {% include interests.html %}
    {% include evaluation.html %}

</div>
